<div class="row">
    <div class="col l12 m12 s12 bordaform">
        <h1>Login Eleitor</h1>
        <form #form='ngForm' class="mb-4" autocomplete="off">
            <div class="form-group">
                <label>Título de eleitor</label>
                <input class="form-control" #UserName="ngModel" name="UserCPF" [(ngModel)]="formModel.UserCPF"
                    required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" #Password="ngModel" name="Password"
                    [(ngModel)]="formModel.Password" required>
            </div>
            <div class="form-row">
                <div class="form-group col-md-8 offset-md-2">
                    <button type="submit" class="btn btn-lg btn-block" (click)="mudancaTela(1)" [disabled]="form.invalid">Login</button>
                    <button mat-raised-button color="warn" class="btn btn-lg btn-block" (click)="mudancaTela(2)">Cancelar</button>
                 </div>
            </div>
        </form>
    </div>
</div>
