<!--<div *ngIf="estado==3">
  <br>
  <strong class="d-inline-block mb-2 text-primary">Você já votou !</strong>
  <br>
  <br>
  <p>Acompanhe o andamento das eleições na tabela ao lado.</p>

  <div class="form-row" style="margin-top:40px !important">
    <div class="form-group col-md-8 offset-md-2">
      <button mat-raised-button color="warn" class="btn btn-lg btn-block" (click)="realizaLogout()">Logout</button>
    </div>
  </div>
</div>-->
<div *ngIf="estado==1">
  <strong class="d-inline-block mb-2 text-primary">Escolha um candidato para votar</strong>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Votar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fulano 1 - Partido ABC</td>
        <td>
          <div class="form-group col-md-8 offset-md-2">
            <button mat-raised-button style="background-color:limegreen !important" class="btn btn-lg btn-block"
              (click)="votar('Fulano1')">Votar</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Fulano 2 - Partido GRD</td>
        <td>
          <div class="form-group col-md-8 offset-md-2">
            <button mat-raised-button style="background-color:limegreen !important" class="btn btn-lg btn-block"
              (click)="votar('Fulano2')">Votar</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Fulano 3 - Partido ADF</td>
        <td>
          <div class="form-group col-md-8 offset-md-2">
            <button mat-raised-button style="background-color:limegreen !important" class="btn btn-lg btn-block"
              (click)="votar('Fulano3')">Votar</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Fulano 4 - Partido XO</td>
        <td>
          <div class="form-group col-md-8 offset-md-2">
            <button mat-raised-button style="background-color:limegreen !important" class="btn btn-lg btn-block"
              (click)="votar('Fulano4')">Votar</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>Fulano 5 - Partido CAB</td>
        <td>
          <div class="form-group col-md-8 offset-md-2">
            <button mat-raised-button style="background-color:limegreen !important" class="btn btn-lg btn-block"
              (click)="votar('Fulano5')">Votar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="form-row" style="margin-top:40px !important">
    <div class="form-group col-md-8 offset-md-2">
      <button mat-raised-button color="warn" class="btn btn-lg btn-block" (click)="realizaLogout()">Logout</button>
    </div>
  </div>
</div>

<div *ngIf="estado==2">
  <strong class="d-inline-block mb-2 text-primary">Deseja realmente votar no candidato {{escolhido}} ? <br> Uma vez
    confirmado não há como desfazer o voto </strong>
  <div *ngIf="carregando == false">
    <div class="form-group col-md-8 offset-md-2">
      <button mat-raised-button style="background-color:limegreen !important" class="btn btn-lg btn-block"
        (click)="confirmarVotacao()">Confirmar</button>
        <button mat-raised-button color="warn" class="btn btn-lg btn-block" (click)="voltarTela()">Voltar</button>
    </div>
  </div>
  <div *ngIf="carregando == true">
    <br>
    <br>
    <br>
    <br>
    <strong class="d-inline-block mb-2 text-primary">Enviando os dados, Aguarde! ...</strong>
  </div>
</div>