/*
 * style.css 
 */
 th, td {
   text-align: left;
   font-size: 15px;
}
 .container, .container-fluid {
   font-size: 15px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #f9f9f9;
   }
   .row {
    margin-bottom: 20px;
   }
   [class*="col-"], header, footer, nav, aside, section, div[role="main"] {
      font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f5f5f5;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
    text-align: center;
   }
   div[role="main"] {
    background-color: #fff;
   }
   div[role="main"], nav, aside {
    height: 600px;
   }

   img {
    width: 50%;
    }

    .imgMaior {
      width: 90%;
    }



    

