<!--<div class="container">
    <header class="row">
        <div class="col l6 m6 s12" style="float:right !important">
      <h2> Sistema de Votação Online utilizando blockchain</h2>
        </div>
    </header>
    <div class="row">
            <div class="col l6 m6 s12">
                <div class="card flex-md-row mb-12 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">Resultados até o momento</strong>
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Nome</th>
                                <th>Votos</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let politico of dadosPoliticos">
                                <td>{{politico.nome}}</td>
                                <td>{{politico.votos}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>

                </div>
            </div>
            <div class="col l6 m6 s12">
                <div *ngIf="!logado()">
                    <h5>
                        Você não esta logado, favor autenticar para votar.
                    </h5>
                    <app-login></app-login>
                </div>
                <div *ngIf="logado()">
                    <app-votacao-eleitral></app-votacao-eleitral>
                </div>
            </div>

    </div>
    <footer class="row">
        <div class="col l6 m6 s12" style="float:right !important">
          <h6>
          Esse projeto foi feito por Tulio Fonseca Coqueiro.
        </h6>
      </div>
    </footer>
</div>
-->

<div class="container">
  <header class="row">
    <div class="col l6 m6 s12" style="float:right !important">
      <h2> Sistema de Votação Online utilizando blockchain</h2>
    </div>
  </header>
  <div *ngIf="tela == 1">
    <div class="row">
      <div class="col l6 m6 s12">
        <div class="container" style="margin-left: 60px !important">
          <img [src]="imagePath" />
        </div>
      </div>
      <div class="col l6 m6 s12">
        <h3>Bem vindo ao portal de votação online, selecione o modulo de autenticação:</h3>
        <div class="container" style="margin-top: 50px">
          <button type="submit" name="telaEleitor" value="2" (click)="chamaTelaEleitor()" class="btn btn-lg btn-block"
            style="background-color: greenyellow !important; color: rgb(80, 79, 79)!important;  font-size: 20px !important;  font-weight: bold !important">Eleitor</button>
          <button class="btn btn-lg btn-block" (click)="chamaTelaAdm()"
            style="margin-top: 20px !important; background-color: lightskyblue !important; color:rgb(80, 79, 79) !important; font-size: 20px !important;  font-weight: bold !important">Administrativo</button>
          <button class="btn btn-lg btn-block" (click)="chamaTelaTesteInvalido()"
           style="margin-top: 20px !important; background-color: lightskyblue !important; color:rgb(80, 79, 79) !important; font-size: 20px !important;  font-weight: bold !important">Teste Inválido</button>
        
        
          </div>
      </div>
    </div>
  </div>
  <div *ngIf="tela == 2">
    <div class="row">
      <div class="col l6 m6 s12">
        <div class="container" style=" margin-top: 30px !important;margin-left: 60px !important">
          <img [src]="imageLogin" />
        </div>
      </div>
      <div class="col l6 m6 s12">
        <h3>Eleitor, por favor, autentique-se para poder usar o sistema</h3>
        <app-login (telaLogin)="atualizavalor($event)"></app-login>
      </div>
    </div>
  </div>
  <div *ngIf="tela == 3">
    <div class="row">
      <div class="col l6 m6 s12">
        <div class="container" style=" margin-top: 30px !important">
          <img class="imgMaior" [src]="imageVoto" />
        </div>
      </div>
      <div class="col l6 m6 s12">
        <h3>Eleitor, por favor, escolha seu candidato com consciência</h3>
        <app-votacao-eleitral (telaLogin)="atualizavalor($event)"></app-votacao-eleitral>
      </div>
    </div>

  </div>


  <div *ngIf="tela == 20">
    
    <app-transacao (telaLogin)="atualizavalor($event)"></app-transacao>
  </div>

  <div *ngIf="tela == 4">
    <div class="row">
      <div class="col l6 m6 s12">
        <br>
        <strong class="d-inline-block mb-2 text-primary">Querido eleitor, meus parabéns, você já votou !</strong>
        <br>
        <br>
        <p>Aguarde ate que a apuração dos votos termine...</p>
        <button class="btn btn-lg btn-block" (click)="realizaLogout()"
          style="margin-top: 20px !important; background-color: lightcoral !important; color:rgb(80, 79, 79) !important; font-size: 20px !important;  font-weight: bold !important">Sair</button>
      </div>
      <div class="col l6 m6 s12">
        <div class="container" style=" margin-top: 30px !important;margin-left: 60px !important">
          <img [src]="imagejaVotou" />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="tela == 5">


    <div class="row">
      <div class="col l6 m6 s12">
        <div class="container" style=" margin-top: 30px !important;margin-left: 30px !important">
          <img class="imgMaior" [src]="imageAdm" />
        </div>
      </div>
      <div class="col l6 m6 s12">
        <h3>Administrador, por favor, autentique-se para poder usar o sistema</h3>
        <app-login-adm (telaLogin)="atualizavalor($event)"></app-login-adm>
      </div>
    </div>
  </div>
  <div *ngIf="tela == 6">
    <div class="row">
      <div class="col l6 m6 s12">
        <div class="container" style=" margin-top: 30px !important;margin-left: 30px !important">
          <img class="imgMaior" [src]="imageCadastroUsuario" />
        </div>
      </div>
      <div class="col l6 m6 s12">
        <h3>Bem vindo a tela de Cadastro de eleitor, preencha os campos abaixo</h3>
        <br>
        <br>
        <br>
        <form #form='ngForm'>
          <div class="form-group">
            <label>Nome do Eleitor</label>
            <input class="form-control" #UserName="ngModel" name="NomeUsuario" [(ngModel)]="formModel.NomeUsuario"
              required>
          </div>
          <div class="form-group">
            <label>Título de eleitor</label>
            <input class="form-control" #UserName="ngModel" name="UserCPF" [(ngModel)]="formModel.UserCPF" required>
          </div>
          <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control" #Password="ngModel" name="Password"
              [(ngModel)]="formModel.Password" required>
          </div>
          <div class="form-row">
            <button class="btn btn-lg btn-block" (click)="cadastrarUsuario()" [disabled]="form.invalid"
              style="margin-top: 20px !important; background-color: lightskyblue !important; color:rgb(80, 79, 79) !important; font-size: 20px !important;  font-weight: bold !important">Salvar</button>
            <br>
            <br>
            <br>
            <button class="btn btn-lg btn-block" (click)="chamaTelaDashboardAdm()"
              style="margin-top: 20px !important; background-color: lightcoral !important; color:rgb(80, 79, 79) !important; font-size: 20px !important;  font-weight: bold !important">Voltar</button>

          </div>
        </form>
      </div>
    </div>

  </div>
  <div *ngIf="tela == 7">
    <div class="row">
      <div class="col l6 m6 s12">
        <strong class="d-inline-block mb-2 text-primary">Processo Eleitoral Ativo</strong>

        <button class="btn btn-lg btn-block" (click)="buscarProcessoAtivo()"
          style="margin-top: 20px !important; background-color: lightskyblue !important; color:rgb(80, 79, 79) !important; font-size: 20px !important;  font-weight: bold !important">Buscar
          Processo Ativo</button>
        <br>
        <br>
        <div *ngIf="possuiProcessoAtivo()">
          <mat-card style="background-color: lightskyblue !important">
            <strong class="text-primary">Nome do Processo</strong><br>
            <strong class="text-primary" style="color: rgb(236, 95, 95) !important">{{nomeProcessoAtual}}</strong><br>
            <strong class="text-primary">Data de Inicio do Processo Eleitoral</strong><br>
            <strong class="text-primary" style="color: rgb(236, 95, 95) !important">{{dataInicio}}</strong><br>
            <strong class="text-primary">Data de Finalização do Processo Eleitoral</strong><br>
            <strong class="text-primary" style="color: rgb(236, 95, 95) !important">{{dataFim}}</strong><br>
            <strong class="text-primary">Quem Criou esse cadastro de processo eleitoral</strong><br>
            <strong class="text-primary" style="color: rgb(236, 95, 95) !important">{{nomePessoa}}</strong><br>
          </mat-card>
        </div>
        <div *ngIf="!possuiProcessoAtivo()">
          <mat-card>
            <strong class="d-inline-block mb-2 text-primary">Não há um processo ativo atualmente.</strong>
          </mat-card>
        </div>
      </div>

      <div class="col l6 m6 s12">
        <strong class="d-inline-block mb-2 text-primary">Cadastrar novo processo</strong>
        <div>
          <mat-card>
            <form #form='ngForm'>
              <div class="form-group">
                <label>Nome do Processo</label>
                <input class="form-control" #UserName="ngModel" name="NomeProcesso"
                  [(ngModel)]="formModelCadastroProcesso.NomeProcesso" required>
              </div>
              <div class="form-group">
                <label>Data Inicial</label>
                <input class="form-control" #UserName="ngModel" name="DataInicio"
                  [(ngModel)]="formModelCadastroProcesso.DataInicio" placeholder="yyyy-MM-dd hh:mm:ss" required>
              </div>
              <div class="form-group">
                <label>Data Final</label>
                <input class="form-control" #UserName="ngModel" name="DataFim"
                  [(ngModel)]="formModelCadastroProcesso.DataFim" placeholder="yyyy-MM-dd hh:mm:ss" required>
              </div>
              <div class="form-row">
                <button class="btn btn-lg btn-block" (click)="cadastrarProcesso()" [disabled]="form.invalid"
                  style="margin-top: 20px !important; background-color: lightskyblue !important; color:rgb(80, 79, 79) !important; font-size: 20px !important;  font-weight: bold !important">Cadastrar
                  Processo</button>
                <br>

              </div>
            </form>
          </mat-card>
        </div>
      </div>

    </div>
    <button class="btn btn-lg btn-block" (click)="chamaTelaDashboardAdm()"
      style="margin-top: 20px !important; background-color: lightcoral !important; color:rgb(80, 79, 79) !important; font-size: 20px !important;  font-weight: bold !important">Voltar</button>


  </div>
  <div *ngIf="tela == 8">
    <button class="btn btn-lg btn-block" (click)="buscarApuracaoVotos()"
      style="margin-top: 20px !important; background-color: lightskyblue !important; color:rgb(80, 79, 79) !important; font-size: 20px !important;  font-weight: bold !important">Buscar
      Apuração dos Votos</button>
    <br>
    <br>
    <div *ngIf="apuracaoVotos === true">
      <div class="row">
        <div class="col l6 m6 s12">
          <strong class="d-inline-block mb-2 text-primary">Relação dos Eleitores</strong>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Nome Eleitor</th>
                <th>Votou ?</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let eleitor of eleitores">
                <td>{{eleitor.nomeEleitor}}</td>
                <td>
                  <div *ngIf="eleitor.votou === true">
                    <p style="color:rgb(95, 240, 95) !important">Sim</p>
                  </div>
                  <div *ngIf="eleitor.votou === false">
                    <p style="color:rgb(255, 121, 68) !important">Não</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col l6 m6 s12">
            <div class="card flex-md-row mb-12 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">Resultados final dos candidatos</strong>
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Nome</th>
                            <th>Votos</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let politico of dadosPoliticos">
                            <td>{{politico.nome}}</td>
                            <td>{{politico.votos}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>

            </div>
        </div>
      </div>
    </div>
    <div *ngIf="apuracaoVotos === false">
      <strong class="text-primary">Não é possivel ver a apuração dos votos pois o processo eleitoral ainda não
        acabou.</strong><br>
    </div>
    <button class="btn btn-lg btn-block" (click)="chamaTelaDashboardAdm()"
      style="margin-top: 20px !important; background-color: lightcoral !important; color:rgb(80, 79, 79) !important; font-size: 20px !important;  font-weight: bold !important">Voltar</button>

  </div>

  <div *ngIf="tela == 9">
    <div class="row">
      <div class="col l6 m6 s12">
        <br>
        <strong class="d-inline-block mb-2 text-primary">Querido eleitor, o periodo de votação ainda não foi aberto
          !</strong>
        <br>
        <br>
        <p>Por favor aguarde!...</p>
        <button class="btn btn-lg btn-block" (click)="realizaLogout()"
          style="margin-top: 20px !important; background-color: lightcoral !important; color:rgb(80, 79, 79) !important; font-size: 20px !important;  font-weight: bold !important">Sair</button>
      </div>
      <div class="col l6 m6 s12">
        <div class="container" style=" margin-top: 15px !important; margin-left: 120px !important">
          <img [src]="imageAguarde" />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="tela == 10">
    <h3>Olá Administrador(a), o que gostaria de fazer ?</h3>
    <div class="container" style="margin-top: 50px">
      <button type="submit" name="telaEleitor" value="2" (click)="chamaTelaCadastroEleitor()"
        class="btn btn-lg btn-block"
        style="background-color: greenyellow !important; color: rgb(80, 79, 79)!important;  font-size: 20px !important;  font-weight: bold !important">Cadastrar
        eleitor</button>
      <button type="submit" name="telaEleitor" value="2" (click)="chamaTelaProcessoEleitoral()"
        class="btn btn-lg btn-block"
        style="background-color: greenyellow !important; color: rgb(80, 79, 79)!important;  font-size: 20px !important;  font-weight: bold !important">Processo
        Eleitoral</button>
      <button type="submit" name="telaEleitor" value="2" (click)="chamaTelaApuracaoVotos()" class="btn btn-lg btn-block"
        style="background-color: greenyellow !important; color: rgb(80, 79, 79)!important;  font-size: 20px !important;  font-weight: bold !important">Apuração
        dos votos</button>

      <button class="btn btn-lg btn-block" (click)="realizaLogout()"
        style="margin-top: 20px !important; background-color: lightskyblue !important; color:rgb(80, 79, 79) !important; font-size: 20px !important;  font-weight: bold !important">Sair</button>
    </div>

  </div>
  <br>
  <footer class="row">
    <div class="col l6 m6 s12" style="float:right !important">
      <h6>
        Esse projeto foi feito por Tulio Fonseca Coqueiro.
      </h6>
    </div>
  </footer>
</div>