<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      Teste de violação da rede Blockchain
    </h1>
    <br>
    <br>
    <p>
        Essa tela tem como objetivo unicamente realizar um teste negativo, <br>
        ou seja, tentar violar o sistema de transferencias da blockchain <br>
        simulando um ataque de uma pessoa externa à rede tentando realizar <br> uma transação sem sucesso !
    </p>

  </div>

  <div *ngIf="erro == true">
    <div style="background-color: lightcoral !important; text-align: center !important; size: 40px !important">
      <p><b>!!!!!!!!!!!!!  Erro ao tentar realizar o voto, o usuário não pertence a rede !!!!!!!!!!!!!!!!</b></p>
    </div>
  </div>


  <form>
    <div class="container">

     
      <label for="amount"><b>Endereço Usuario Externo</b></label>
      <input type="text"  class="inputfield" placeholder="Seu endereço único na rede blockchain"  [(ngModel)]="transferFrom" name="transferFrom" required>
  
      <label for="transfer"><b>Endereço do Político</b></label>
      <input type="text" class="inputfield" placeholder="Endereço único do político na rede blockchain"  [(ngModel)]="transferTo" name="transferTo" required>
  
      <hr>
      <button type="reset" class="trfbtn resetbtn" (click)="reset()">Limpar Campos</button>&nbsp;&nbsp;
      <button type="submit" class="trfbtn" (click)="transferEther($event)">Votar</button>&nbsp;&nbsp;
      <button type="submit" class="trfbtn" style="background-color: rgb(155, 40, 40) !important" (click)="voltar()">Voltar</button>&nbsp;&nbsp;


      
    </div>
  
  </form>