/* You can add global styles to this file, and also import other style files */
body{
    background-color: #04c582;
    font-size: 15px;
}

input.form-control,input.form-control:focus{
  font-size: 15px;
    color: #2e3137;
    border: 1px solid #636b7b;

}

input.form-control:focus{
  font-size: 15px;
    box-shadow: none;
}

button[type=submit].btn{
  font-size: 15px;
    border-radius: 20px;
    background-color: #04c582;
    color: #fff;
}

div.form-group label:not(.text-danger){
  font-size: 15px;
    color: #545d6a;
    font-weight: 700;
}

div.form-group.required>label:first-child:after{
  font-size: 15px;
    content:'*';
    color: #fff;
    padding-left: 5px;
}

#toast-container > div {
  font-size: 15px;
    opacity:1;
}

.wrapper {
  font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  .wrapped-div {
    font-size: 15px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #2e3137;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  }

  /* Tabs */
.tab-header{
  font-size: 15px;
    text-align: center;
}

  .tab-header h2.active {

    color: #fff;
    border-bottom: 4px solid #fff;
  }

  .tab-header h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display:inline-block;
    padding: 30px 40px 10px 40px;
    cursor: pointer;
    color: #545d6a;
    border-bottom: 2px solid #545d6a;
  }

  .tab-header h2:focus {
      outline: none;
  }

  form{
    font-size: 15px;
      margin: 0px 16px;
 }

 div.form-group input.invalid{
  font-size: 15px;
    border: 1px solid #dc3545; 
 }
 div.form-group label:first-child{
  font-size: 15px;
    text-transform: uppercase;
    font-size: 0.9rem;
 }

.bordaform {
  font-size: 15px;
    border: 1px solid #636b7b;
    border-radius: 5px;
}

h1{
    font-size: 48px;
    color: #066a75;
    padding: 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
  h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  }

